.otp{
    text-align: center;
    background: linear-gradient( rgb(66, 66, 214),rgb(49, 230, 230));
    height: 30em;
    width: 20em;
    border-radius: 50px;
    position: relative;
    left:30em;
    top:2em;
    padding: 20px;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
